body {
    background-color: #252525;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.logo-text {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: monospace;
    transition: transform 0.2s, color 0.3s, text-shadow 0.3s;
}

.logo-text:hover {
    text-shadow: 0 0 10px #ff4040, 0 0 10px #ff4040, 0 0 20px #ff4040;
    color: #ff4040;
    transform: scale(1.1);
}

.tagline {
    font-size: 1.2rem;
    color: #bbb;
    font-style: italic;
    margin-top: 0.5rem;
}

.hub-links {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #333;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hub-links a {
    text-decoration: none;
    color: white;
    background-color: #444444;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

.hub-links a:hover {
    background-color: #ff4040;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 0 10px #ff4040, 0 0 20px #ff4040;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    font-size: 0.8rem;
    background: #111;
    color: #aaa;
    margin-top: auto;
    text-align: center;
}