.about {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh; /* <-- ajoute ça */
}

.about-text {
    text-align: left;
}

.links {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    border-radius: 8px;
}

.links a {
    text-decoration: none;
    color: white;
    background-color: #444444;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    width: 180px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: transform 0.2s, box-shadow 0.3s;
}

.links a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 0 20px #ff4040, inset 0 0 20px #ff4040, 0 0 3px 1px white, inset 0 0 3px 1px white;
}