body {
    background-color: #252525;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.projects {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh; /* <-- ajoute ça */
}

.project-grid {
    padding: 10px;
    margin: 10px;
    flex-direction: row;
    display: flex;
}

.project-card {
    background-color: #333;
    padding: 20px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column; /* empile les éléments verticalement */
    border-radius: 12px;
    width: 300px;
    min-height: 250px; /* facultatif, pour uniformiser la hauteur */
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.5);
}

.project-card a {
    text-decoration: none;
    color: white;
    background-color: #444;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    margin-top: auto; /* <-- pousse le lien en bas */
}

.project-card a:hover {
    background-color: #ff4040;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 0 10px #ff4040, 0 0 20px #ff4040;
}

.hub-links {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #333;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hub-links a {
    text-decoration: none;
    color: white;
    background-color: #444444;
    width: 150px;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

.hub-links a:hover {
    background-color: #ff4040;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 0 10px #ff4040, 0 0 20px #ff4040;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    font-size: 0.8rem;
    background: #111;
    color: #aaa;
    margin-top: auto;
    text-align: center;
}